.btn {
  &.tasks__button-new {
    display: block;
    margin: 2em auto 1em;
    border-radius: 20px;
    width: 40%;
    background-color: #c8eae5;

    &:hover {
      background: #8fcec4;
    };
  }
}

.tabs {
  margin: 3em 0;
  display: flex;
  align-items: center;
  gap: 1em;

  > input[type="radio"], &__mobile {
    display: none;
  }

  input:checked + label {
    background-color: $background-tabs;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
    opacity: 1;
  }

  label, button.tab {
    padding: 1em;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 10px;

    &:last-child {
      color: green;
      background-color: $field;
      border: 1px solid $border;
      border-radius: 10px;
      font-size: 1em;

      > span:first-child::before {
        content: url('../images/plus.svg');
        display: inline-block;
        vertical-align: middle;
      }
    }

    &:hover {
      background-color: $hover-list;
    }
  }
}

.tasks {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 3em;

  &__content {
    border: 1px solid $border-list;
    border-radius: 10px;

    &:empty {
      border: unset;
    }

    li.task {
      list-style-type: none;
      padding: 0.8em 2em;
      transition: 0.2s;
      cursor: pointer;
      position: relative;
      background-color: $list-background;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      
      &:first-child:not(:last-child) {
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid $border-list;
      }

      &:not(:first-child):not(:last-child) {
        border-bottom: 1px solid $border-list;
        border-radius: unset;
      }

      &:last-child:not(:nth-child(1)) {
        border-bottom: unset;
        border-radius: 0 0 10px 10px;
      }

       > .task__remove {
        display: none;

        &::before {
          content: url('../images/remove.svg');
          opacity: 0.5;
          display: inherit;
        }

        &:hover::before {
          opacity: 1;
        }
      }

      &:not(.done)::before {
        content: '✔';
        position: absolute;
        color: green;
        font-weight: 700;
        left: 2%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        opacity: 0.1;
      }

      &.done {
        color: $font-opacity;
        
        & span:not(.task__remove):not(.tooltip__text) {
          text-decoration: line-through solid $font 2px;
        }

        &::before {
          content: '✔';
          position: absolute;
          color: green;
          font-weight: 700;
          left: 2%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }

      &:hover {
        background-color: $hover-list;

        .task__tooltip {
          visibility: visible;
          opacity: 1;
        }

        .task__remove {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.new-task {
  &__field {
    width: 80%;
    margin: 0 auto 2em;
    position: relative;
  }

  input[type=text], textarea {
    width: 100%;
    padding: 0.8em;
    border: 1px solid $border;
    font-size: 1.2em;
    border-radius: 10px;
  }

  textarea {
    font-size: 1.3em !important;
  }

  .feedback {
    position: absolute;
    display: none;
    color: red;

    &.invalid {
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .tabs {
    margin: 2em 0;
    width: 100%;

    label {
      display: none;
    }

    &__mobile {
      display: block;
      width: 100%;
      position: relative;

      .arrow {
        position: absolute;
        border: solid black;
        opacity: 0.5;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        right: 10%;
        top: 40%;
      }
      
      .select {
        width: 100%;
        padding: 1em 1.3em;
        background-color: $field;
        border: 1px solid $border;
        border-radius: 10px;
        font-size: 1em;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-ms-expand {
          display: none;
        }
      }
    }

    button.tab {
      padding: 0.9em 1.2em;
      
      span:last-child {
          display: none;
      }
    }
  }
  
  .tasks {
    li.task {
      &:not(.done)::before {
        left: 6%;
      }
      &.done::before {
        left: 6%;
      }

      > .task__remove {
        display: flex;
        align-items: center;
      }
    }
  }

  .new-task {
    h2 {
      font-size: 1.3em;
    }
    &__field {
      width: 100%;
      margin: 0 auto 2em;
    }
  
    input[type=text], textarea {
      padding: 0.8em;
      font-size: 1em;
    }

    .tasks__button-new {
      width: 100%;
    }

    .feedback {
      font-size: 0.9em;
    }
  }
}